.article {
    .header {
        display: flex;
        position: relative;
        height: 50vh;
        width: 100%;
        justify-content: center;
        background-color: $brand-1;
        overflow: hidden;
        min-height: 300px;
        padding-top: 30px;

        @include mq(desktop) {
            height: 90vh;
            min-height: 500px;
            padding-top: 0px;
        }

        .header-image-gif__container {
            position: absolute;
            padding-top: 82.59%;
            width: 100%;
            height: auto;
            top: 0px;
            left: 0px;

            @include mq(desktop) {
                padding-top: 56.25%;
            }
        }

        &-container {
            justify-self: center;
            display: grid;
            max-width: 90vw;
            position: relative;
            margin-bottom: 40px;

            img {
                justify-self: center;
                width: 100%;
                max-width: 480px;
                height: auto;

                @include mq(desktop) {
                    width: 86vw;
                    max-width: 86vw;
                }
                @include mq(ultraWide) {
                    width: 78vw;
                    max-width: 78vw;
                }
            }

            .gif {
                position: absolute;
                max-height: auto;
                &__one {
                    right: 23%;
                    top: 53%;
                    max-width: 76%;

                    @include mq(desktop) {
                        right: 1%;
                        top: 20%;
                        max-width: 26%;
                    }
                }
                &__two {
                    left: 15%;
                    top: 13%;
                    max-width: 13%;

                    @include mq(desktop) {
                        left: 50.2%;
                        top: 40%;
                        max-width: 4%;
                    }
                }
                &__three {
                    right: 0.5%;
                    top: 35%;
                    width: 16%;

                    @include mq(desktop) {
                        right: 11%;
                        top: 64.5%;
                        width: 5.8%;
                    }
                }
                &__four {
                    @include mq(desktop) {
                        left: 31.4%;
                        top: 23%;
                        width: 3%;
                    }
                }
                &__five {
                    @include mq(desktop) {
                        left: 13.5%;
                        top: 40%;
                        width: 6%;
                    }
                }
                &__six {
                    @include mq(desktop) {
                        left: 20.5%;
                        bottom: 27%;
                        width: 21.5%;
                    }
                }
                &__seven {
                    @include mq(desktop) {
                        left: 18.9%;
                        bottom: 19.3%;
                        width: 6%;
                    }
                }
            }
        }
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    @include mq(desktop) {
        .mobile {
            display: none;
        }

        .desktop {
            display: block;
        }
    }
}

.introduction {
    background-color: #e55744;
    padding-top: 1rem;
    padding-bottom: 4.8rem;
    overflow: hidden;
    @include mq(desktop) {
        padding-top: 2.5vh;
        padding-bottom: 10vh;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1.5vw;

    @include mq(desktop) {
        grid-template-columns: 3fr 3fr 3fr 3fr;
        grid-column-gap: 1.5vw;
        &__1-1 {
            grid-column: 1 / span 1;
        }
        &__1-2 {
            grid-column: 1 / span 2;
        }
        &__1-3 {
            grid-column: 1 / span 3;
        }
        &__1-4 {
            grid-column: 1 / span 4;
        }
        &__2-2 {
            grid-column: 2 / span 1;
        }
        &__2-3 {
            grid-column: 2 / span 2;
        }
        &__2-4 {
            grid-column: 2 / span 3;
        }
        &__3-3 {
            grid-column: 3 / span 1;
        }
        &__3-4 {
            grid-column: 3 / span 2;
        }
        &__4-4 {
            grid-column: 4 / span 1;
        }
    }
}

.align-end {
    align-self: end;
}

h3 {
    font-size: 1.5vw;
    color: white;
}

.headline {
    font-size: $font-size-ten;
    color: white;
    line-height: 1;
    margin-bottom: 1rem;
    margin-top: 8vw;

    @include mq(desktop) {
        font-size: $font-size-eight;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    &__link {
        display: none;
        @include mq(desktop) {
            display: flex;
            position: absolute;
            margin-top: -1.3vw;
            font-size: 1.5vw;
            margin-left: 1vw;
        }
        color: white;

        &:hover {
            color: #803025;
            transition: color 0.6s ease;
        }

        span {
            margin-right: 1vw;
            // margin-top: 2vw;
            // transform-origin: 20px 10px;
            svg {
                width: 8vw;
                height: auto;
            }
            @include mq(desktop) {
                margin-right: 0.25vw;
                margin-top: -0.2vw;
                svg {
                    width: 2vw;
                    height: auto;
                }
            }
        }

        // &::before {
        //     content: "";
        //     background-size: contain;
        //     background-repeat: no-repeat;
        //     background-position: bottom;
        //     display: inline-block;
        //     width: 4vw;
        //     height: 4vw;
        //     position: relative;
        //     margin-right: 1vw;

        //     @include mq(desktop) {
        //         width: 1vw;
        //         height: 1vw;
        //         margin-right: 0.25vw;
        //     }
        // }
    }
}

.inline-link {
    display: inline-block;
}

.standfirst {
    font-size: $font-size-five;
    margin-bottom: 4vw;
    @include mq(desktop) {
        font-size: $font-size-two;
        margin-bottom: 2vw;
    }
}

.information {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    font-size: 4vw;
    line-height: 1.5;
    overflow: hidden;
    white-space: nowrap;

    @include mq(desktop) {
        font-size: 1.5vw;
        margin-top: -0.5vw;
    }

    &__type,
    &__client,
    &__year,
    &__role,
    &__award,
    &__link {
        display: inline;
        color: white;
        margin-right: 5vw;
    }

    &__role {
        display: inline;
        margin-top: 1rem;
        // margin-right: 0;

        @include mq(desktop) {
            margin-top: 0rem;
        }
    }

    &__link {
        margin-top: 2vw;
        margin-bottom: 8vw;
        font-size: 4vw;
        svg {
            margin-top: -1vw;
        }

        .headline__link {
            display: flex;
        }
    }

    &__data {
        display: inline;
        color: white;

        @include mq(desktop) {
            font-size: 2vw;
        }
    }

    &__meta {
        display: inline;
        color: #803025;
        @include mq(desktop) {
            font-size: 2vw;
        }
    }
}

.marquee-move {
    display: inline-block;
    margin-left: 0;
    margin-right: 0px;
    animation: moveAcross 20s infinite linear;
    @include mq(desktop) {
        animation: moveAcross 40s infinite linear;
    }
}

.marquee-move:first-of-type {
    margin-right: -0.76vw;
    @include mq(desktop) {
        margin-right: -0.4vw;
    }
}

@keyframes moveAcross {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
