.article--blue {
    p {
        a {
        color: $blue;
    } }
    .header {
        background-color: $blue;
    }
    .introduction {
        background-color: darken($blue, 10%);
    }
    .information {

    &__meta {
        color: darken($blue, 30%);
    }
}
    .image  {
        &__background--brand {
            background-color: $blue;
        }
    }
    .caption {
        &__header {
            color: darken($blue, 10%);
        }
    }
}

.article--gold {
    p {
        a {
        color: $gold;
    } }

    h1, .information__data, .headline__link, .standfirst {
        color: #121212;
    }
    .header {
        background-color: #FEF8F3;
    }
    .introduction {
        background-color: $gold;
    }
    .information {

    &__meta {
        color: darken($gold, 50%);
    }
}
    .image  {
        &__background--brand {
            background-color: $gold;
        }
    }
    .caption {
        &__header {
            color: darken($gold, 10%);
        }
    }
}

.article--green {
    p {
        a {
        color: $green;
    } }
    .header {
        background-color: $green;
    }
    .introduction {
        background-color: darken($green, 10%);
    }
    .information {

    &__meta {
        color: darken($green, 30%);
    }
}
    .image  {
        &__background--brand {
            background-color: $green;
        }
    }
    .caption {
        &__header {
            color: darken($green, 10%);
        }
    }
}


.article--world-cup {
    .header {
    &-container {
        margin-top: 10px;
        margin-bottom: 0px;

        @include mq(wide) {
        top: 2.5vh;
    }

            img {
                align-self: end;
            }
    }
}
}

.article--uk-election {
        .header {
    &-container {
        margin-top: 10px;
        margin-bottom: 0px;

        @include mq(wide) {
        top: 2.5vh;
    }

            img {
                align-self: end;
            }
    }
}
}

.article--no-mow {
    .header {
        &.wrapper {
            padding-left: 0;
            padding-right: 0;
        }

        &-container {
            max-width: 100vw;
            width: 100vw;
            margin-bottom: 0;
        }

        .header-image__video {
            display: block;
            width: 100vw;
            height: 100%;
            object-fit: cover;
        }
    }
}
