.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $black;
  padding-top: 10px;
  margin-bottom: 32px;

  @include mq(tablet) {
    border-top: 2px solid $black;
    margin-bottom: 48px;
  }

  @include mq(wide) {
    padding-top: 1%;
    margin-bottom: 2.5%;
  }

  &__arrow {
    display: inline-block;
    width: auto;
    height: auto;

    svg {
      width: 2.5vw;
      height: auto;

      @include mq(desktop) {
        width: 1vw;
      }
    }
  }

  &__description {
    display: inline;
    font-size: $font-size-five;
    color: $black;
    padding-left: 0.4rem;
    line-height: 1;

    @include mq(desktop) {
      font-size: $font-size-two;
    }
  }
}

.footer__copyright {
  font-size: $font-size-body;
  color: $black;
  font-size: $font-size-five;
  line-height: 1;

  @include mq(desktop) {
    font-size: $font-size-two;
  }
}
