.block__link {
    position: relative;
    cursor: pointer;
    padding: 0.5rem 0;
    color: $brand-1;
}

.block__link:hover {
    h2 {
        color: $brand-1;
        transition: color 0.6s ease;
    }
    span {
        color: $brand-1;
        transition: color 0.6s ease;
    }
}

.block[data-fx="1"] a::after,
a.preview__text-link[data-fx="1"]::after,
.block[data-fx="2"] a::after,
a::after::hover {
    content: "";
    z-index: -1;
    width: 100%;
    bottom: 0.25rem;
    left: 0;
    position: absolute;
    height: 2px;
    background: black;
    transform: scale3d(0, 1, 1);
    transform-origin: 0% 50%;
    transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: color 0.6s ease;
}

a.preview__text-link[data-fx="1"]::after,
a.preview__text-link[data-fx="2"]::after {
    bottom: 0;
}

.block[data-fx="1"] a:hover::after,
a.preview__text-link[data-fx="1"]:hover::after,
.block[data-fx="2"] a:hover::after,
a.preview__text-link[data-fx="2"]:hover::after {
    transform: scale3d(1, 1, 1);
}

@keyframes loop {
    0% {
        transform-origin: 0% 50%;
        transform: scale3d(0, 1, 1);
    }
    50% {
        transform-origin: 0% 50%;
        transform: scale3d(1, 1, 1);
    }
    51% {
        transform-origin: 100% 50%;
    }
    100% {
        transform-origin: 100% 50%;
        transform: scale3d(0, 1, 1);
    }
}

.hover-reveal {
    position: fixed !important;
    width: 50vw;
    height: 30vw;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    @include mq(tablet) {
        width: 25vw;
        height: 15vw;
    }
}

.hover-reveal__inner,
.hover-reveal__img {
    width: 100%;
    height: 100%;
    position: relative;
}

.hover-reveal__deco {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $black;
}

.hover-reveal__img {
    background-size: cover;
    background-position: 50% 50%;
}

@media screen and (min-width: 53em) {
    .block {
        align-items: flex-start;
    }
    .preview {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        margin: 0 auto;
        padding-top: 20vh;
        max-width: 750px;
        min-height: 100vh;
        text-align: left;
    }
    .preview__text {
        grid-column: span 3;
    }
}
