.site-nav__marquee-move {
    display: block;
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    white-space: nowrap;
    padding-left: calc(10px + 1vw);

    @include mq(desktop) {
        padding-left: calc(5% + 0.5vw);
    }
}

.site-nav__list {
    list-style: none;
    font-family: $sans-serif;
    font-size: $font-size-five;
    margin-bottom: 1vw;
    display: inline-block;
    position: relative;
    margin-left: 0px;
    width: calc(102vw);
    transform: translate3d(0, 0, 0);
    // animation: moveAcross 10s infinite linear;

    @include mq(desktop) {
        width: calc(101vw);
        font-size: $font-size-two;
        // animation: moveAcross 15s infinite linear;
    }

    .site-nav__item {
        display: inline-block;
        position: relative;
        color: $black;
        cursor: pointer;
        border-bottom: none;
        margin-right: 5vw;
        vertical-align: top;
        justify-content: flex-start;

        @include mq(desktop) {
            margin-right: 3vw;
        }

        a {
            position: relative;
            display: block;
            line-height: 1;
            color: $black;
            transition: color 0.6s ease;
        }

        &:before {
            content: "";
            position: absolute;
            width: 1px;
            height: calc(1vw + 100% + 2px);
            background-color: $black;
            left: -1vw;
            top: calc(0.6vw);
            @include mq(tablet) {
                width: 2px;
            }
            @include mq(desktop) {
                height: calc(1vw + 100% + 1px);
                left: -0.5vw;
                top: 0.25vw;
            }
        }

        &:hover {
            a {
                color: $brand-1;
            }
        }
    }
}

.site-nav__item:first-of-type {
    // margin-left: 1vw;
    @include mq(desktop) {
        margin-left: 0px;
    }
}

.site-nav__item:last-of-type {
    margin-right: 0px;
}
