// Media Queries
@import "sass-mq/_mq";

// Modules and Variables
@import "modules/_colors";
@import "modules/_typography";
@import "modules/_mixins";

// Common Partials
@import "partials/common/_header";
@import "partials/common/_paragraph";
@import "partials/common/_subheader";
@import "partials/common/_description";
@import "partials/common/_meta";
//
// Partials
@import "partials/_base";
@import "partials/_about";
@import "partials/_logo";
@import "partials/_social";
@import "partials/_footer";
@import "partials/_contact";
@import "partials/_project-list";
@import "partials/_featured-project";
@import "partials/_article-head";
@import "partials/_article-content";
@import "partials/_selected-work";
@import "partials/_marquee";

h1 {
  color: $brand-1;
  font-family: $sans-serif;
  -webkit-font-smoothing: antialiased;
}
