<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Frank Hulley-Jones</title>
  </head>

  <header class="logo logo-article">
        <a class="logo__link" href="index.html">
          <svg
            class="logo-image"
            xmlns="http://www.w3.org/2000/svg"
            width="316"
            height="128"
            viewBox="0 0 316 128"
          >
            <path
              class="logo__frame"
              fill="#333"
              d="M306 22h-19.7C274.5 8.5 257.3 0 238 0c-19.2 0-36.4 8.5-48.1 21.8C182.1 14.5 170.6 10 158 10c-12.6 0-24.1 4.5-31.9 11.8C114.4 8.5 97.2 0 78 0 58.7 0 41.5 8.5 29.7 22H10C4.5 22 0 26.5 0 32s4.5 10 10 10h7.9C15.4 48.9 14 56.3 14 64c0 35.3 28.7 64 64 64s64-28.7 64-64c0-8.6-1.7-16.8-4.8-24.3C140 34.6 147.8 30 158 30s18 4.6 20.8 9.7c-3.1 7.5-4.8 15.7-4.8 24.3 0 35.3 28.7 64 64 64s64-28.7 64-64c0-7.7-1.4-15.1-3.9-22h7.9c5.5 0 10-4.5 10-10s-4.5-10-10-10zM78 108c-24.3 0-44-19.7-44-44s19.7-44 44-44 44 19.7 44 44-19.7 44-44 44zm160 0c-24.3 0-44-19.7-44-44s19.7-44 44-44 44 19.7 44 44-19.7 44-44 44z"
            />
            <g class="logo__eyes" fill="#333">
              <circle cx="238" cy="64" r="12" />
              <circle cx="78" cy="64" r="12" />
            </g>
          </svg>
        </a>
  </header>

  <body>
    <div id="one-page">
      <div class="article">
          <div class="header">
              <div class="header-container">
                  <img class="header-image__mobile mobile" src="<%= require('../../src/assets/internet/header-image-background__mobile.png') %>"/>
                  <img class="header-image__desktop desktop" src="<%= require('../../src/assets/internet/header-image-background__desktop.png') %>"/>
                  <img class="gif gif__one" src="<%= require('../../src/assets/internet/shifty-eyes-slow.gif') %>"/>
                  <img class="gif gif__two" src="<%= require('../../src/assets/internet/hourglass.gif') %>"/>
                  <img class="gif gif__three" src="<%= require('../../src/assets/internet/clippy.gif') %>"/>
                  <img class="gif gif__four desktop" src="<%= require('../../src/assets/internet/ellipsis.gif') %>"/>
                  <img class="gif gif__five desktop" src="<%= require('../../src/assets/internet/thumbs-up.gif') %>"/>
                  <img class="gif gif__six desktop" src="<%= require('../../src/assets/internet/globe-folder-slow.gif') %>"/>
                  <img class="gif gif__seven desktop" src="<%= require('../../src/assets/internet/loading-bar.gif') %>"/>
              </div>
            </div>
          <div class="introduction wrapper">
            <div class="item grid">
              <div class="information grid__2-3">
                <div class="information__type">
                  <div class="information__meta">Type: </div><div class="information__data">Interactive</div>
                </div>
                <div class="information__year">
                  <div class="information__meta">Year: </div><div class="information__data">2019</div>
                </div>
                <div class="information__role">
                  <div class="information__meta">Role: </div><div class="information__data">Art Direction, Design, Illustration, Front-end</div>
                </div>
                <div class="information__link mobile"><a class="headline__link" href="https://gu.com/p/a2438">Live article</a></div>
              </div>
                <h1 class="headline grid__1-3">The internet but not as we know it<span><a class="headline__link" href="https://gu.com/p/a2438">Live article</a></span></h1>
                <h3 class="standfirst grid__2-3">
                  At the end of 2018 more than half of the world's population went online. Tim Berners-Lee raised a glass, whilst I spent 6 weeks trying to figure out how Chinese Microblogging worked.
                </h3>
                <h3 class="standfirst grid__2-3">
                  The brief for the project was: “What’s life look like online in India, Cuba, China and Russia? Make it as sexy and maverick as possible.”
                </h3>
                <h3 class="standfirst grid__2-3">
                Taking this as a green light to design something slightly crazy, we set to work; starting with India.
                </h3>
            </div>
          </div>
          <div class="content wrapper">
            <div class="grid item">
              <h2 class="text text__header grid__1-1">India</h2>
              <p class="text__body grid__2-3">With over 200 million users of WhatsAppIndia was a great place to start, as using mobile chat messages as a device let readers know this isn’t a regular news article and starts them scrolling</p>
            </div>
            <div class="grid item">
              <div class="image grid__1-4 image__background">
                <div class="image__container">
                  <img class="image__floating image__one mobile" src="<%= require('../../src/assets/internet/article/india-scroll-mobile.gif') %>"/>
                  <img class="image__floating image__one desktop" src="<%= require('../../src/assets/internet/article/india-scroll-desktop.gif') %>"/>
                </div>
              </div>
            </div>
            <div class="grid item">
              <div class="image grid__2-3">
                <div class="image__inline">
                  <img class="image__two" src="<%= require('../../src/assets/internet/article/image-2.png') %>"/>
                </div>
              </div>
                <p class="text__body caption grid__4-4 align-end">
                  <svg class="svg__hand" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.2 31.1"><defs><style>.cls-1{fill:none;stroke:#e55743;stroke-miterlimit:10;stroke-width:2px;}</style></defs><title>vector-hand</title><path class="cls-1" d="M24,1a2.82,2.82,0,0,0-2.2,1.08A3.34,3.34,0,0,0,21,4.2a2.81,2.81,0,0,0,.85,2.05l4.21,4a.3.3,0,0,1,.08.21.36.36,0,0,1-.24.13H3.7a2.46,2.46,0,1,0,0,4.9H17.3a.18.18,0,0,1,.2.2.19.19,0,0,1-.2.2H15.4a2.72,2.72,0,0,0-2.7,2.9,2.41,2.41,0,0,0,2.4,2.4h2.7a.18.18,0,0,1,.2.2.19.19,0,0,1-.2.2H16.6a2.4,2.4,0,0,0,0,4.8h3.1a.18.18,0,0,1,.2.2.19.19,0,0,1-.2.2H18.12a1,1,0,0,0-.92.6,2,2,0,0,0-.2.8,1.88,1.88,0,0,0,1.9,1.9c.12,0,11.85-.07,14.62-1.46,3-1.39,5.68-3.11,5.68-8.74,0-5.41-2.8-8.21-6-11.46l-.61-.6c-3-2.9-5.36-5-6.13-5.76l-.28-.25-.07-.07A3.32,3.32,0,0,0,24,1Z"/></svg>
                  <span class="caption__header">Extra touch</span><span class="caption__body">The time of the messages were at your computer's time</span></p>
            </div>
            <div class="grid item">
              <h2 class="text text__header grid__1-1">China</h2>
              <p class="text__body grid__2-3">I wanted this section to feel like China was blocking western media but that you almost forget because of the alternatives offered. There’s a strong focus on animation as a reference to Weibo (a popular microblog)
              </p>
            </div>
            <div class="grid item">
              <div class="image grid__1-4 image__background">
                <div class="image__container">
                  <img class="image__floating image__fade image__three" src="<%= require('../../src/assets/internet/article/china-2.png') %>"/>
                  <img class="image__floating image__three" src="<%= require('../../src/assets/internet/article/china-1.png') %>"/>
                </div>
              </div>
            </div>
            <div class="grid item">
              <div class="image grid__2-2">
                <div class="image__inline">
                  <img class="image__four" src="<%= require('../../src/assets/internet/article/image-1.png') %>"/>
                </div>
              </div>
              <div class="image grid__3-4 image__background">
                <div class="image__container">
                  <img class="image__floating image__five" src="<%= require('../../src/assets/internet/article/image-1.png') %>"/>
                </div>
              </div>
            </div>
            <div class="grid item">
              <h2 class="text text__header grid__1-1">Cuba</h2>
              <p class="text__body grid__2-3">This was where the idea for pixelated design came from as we got given screenshots of “The  weekly packet” which was running on an old version of Windows. The design heavily leans on how Windows 3.11 looked and functioned
              </p>
            </div>
            <div class="grid item">
              <div class="image grid__1-4 image__background">
                <div class="image__container">
                  <video class="image__floating video" preload="auto" playsinline="" autoplay="" loop="" muted="" autobuffer="false">
                    <source src="<%= require('../../src/assets/media/internetone.mp4') %>" type="video/mp4">
                    <source src="<%= require('../../src/assets/media/internetweb.webm') %>" type="video/webm">
                </video>
                </div>
              </div>
            </div>
            <div class="grid item">
              <div class="image grid__4-4">
                <div class="image__inline">
                  <img class="image__seven" src="<%= require('../../src/assets/internet/article/image-1.png') %>"/>
                </div>
              </div>
            </div>
            <div class="grid item">
              <h2 class="text text__header grid__1-1">Russia</h2>
              <p class="text__body grid__2-3">A recreation of VK the Facebook clone. Has little touches like being able to like each post, or add The Kremlin as a possible friend
              </p>
            </div>
            <div class="grid item">
              <div class="image grid__1-4 image__background">
                <div class="image__container">
                  <img class="image__floating image__eight" src="<%= require('../../src/assets/internet/article/image-1.png') %>"/>
                </div>
              </div>
            </div>
            <div class="grid item">
              <div class="image grid__1-2 image__background">
                <div class="image__container">
                  <img class="image__floating image__nine" src="<%= require('../../src/assets/internet/article/image-1.png') %>"/>
                </div>
              </div>
              <div class="image grid__3-3 align-end">
                <div class="image__inline">
                  <img class="image__seven" src="<%= require('../../src/assets/internet/article/image-1.png') %>"/>
                </div>
              </div>
              <div class="image grid__4-4">
                <div class="image__inline">
                  <img class="image__seven" src="<%= require('../../src/assets/internet/article/image-1.png') %>"/>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
