<!DOCTYPE html>
<html>

<head>
  <style>
    html {
      visibility: hidden;
      opacity: 0;
    }
  </style>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Why you should let your grass grow | Frank Hulley-Jones</title>
</head>

<body>
  <header class="logo logo-article">
    <a class="logo__link--internet" href="index.html">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 316 128"
        xml:space="preserve">
        <style>
          .eye-white {
            fill: #fff
          }
        </style>
        <circle class="eye-white" cx="238" cy="64" r="44" />
        <circle class="eye-white" cx="78" cy="64" r="44" />
        <path id="frames"
          d="M306 22h-19.7C274.5 8.5 257.3 0 238 0c-19.2 0-36.4 8.5-48.1 21.8C182.1 14.5 170.6 10 158 10s-24.1 4.5-31.9 11.8C114.4 8.5 97.2 0 78 0 58.7 0 41.5 8.5 29.7 22H10C4.5 22 0 26.5 0 32s4.5 10 10 10h7.9C15.4 48.9 14 56.3 14 64c0 35.3 28.7 64 64 64s64-28.7 64-64c0-8.6-1.7-16.8-4.8-24.3C140 34.6 147.8 30 158 30s18 4.6 20.8 9.7c-3.1 7.5-4.8 15.7-4.8 24.3 0 35.3 28.7 64 64 64s64-28.7 64-64c0-7.7-1.4-15.1-3.9-22h7.9c5.5 0 10-4.5 10-10s-4.5-10-10-10zM78 108c-24.3 0-44-19.7-44-44s19.7-44 44-44 44 19.7 44 44-19.7 44-44 44zm160 0c-24.3 0-44-19.7-44-44s19.7-44 44-44 44 19.7 44 44-19.7 44-44 44z"
          fill="#121212" />
        <g>
          <path id="eye-1" d="M236 60l20-4s4 32-16 32c0 0-20 0-20-24 0 0-4.2-30.4 24-24l-8 20z" />
        </g>
        <g>
          <path id="eye-2" d="M76 60l20-4s4 32-16 32c0 0-20 0-20-24 0 0-4.2-30.4 24-24l-8 20z" />
        </g>
      </svg>
    </a>
  </header>

  <div class="article article--green article--no-mow">
    <div class="header wrapper">
      <div class="header-container">
        <video class="header-image__mobile mobile header-image__video" preload="auto" playsinline autoplay loop muted
          poster="<%= require('../../src/assets/nomow/promo-video.jpg') %>">
          <source src="<%= require('../../src/assets/nomow/article/no-mow-desktop.mp4') %>" type="video/mp4" />
        </video>
        <video class="header-image__desktop desktop header-image__video" preload="auto" playsinline autoplay loop muted
          poster="<%= require('../../src/assets/nomow/promo-video.jpg') %>">
          <source src="<%= require('../../src/assets/nomow/article/no-mow-desktop.mp4') %>" type="video/mp4" />
        </video>
      </div>
    </div>

    <div class="introduction wrapper">
      <div class="item grid">
        <div class="information grid__1-4">
          <div class="marquee-move">
            <div class="information__type">
              <div class="information__meta">Type: </div>
              <div class="information__data">Interactive</div>
            </div>
            <div class="information__client">
              <div class="information__meta">Client: </div>
              <div class="information__data">The Washington Post</div>
            </div>
            <div class="information__year">
              <div class="information__meta">Year: </div>
              <div class="information__data">2024</div>
            </div>
            <div class="information__role">
              <div class="information__meta">Role: </div>
              <div class="information__data">Pitched idea, Built 3D, Development</div>
            </div>
          </div>
           <div class="marquee-move">
            <div class="information__type">
              <div class="information__meta">Type: </div>
              <div class="information__data">Interactive</div>
            </div>
            <div class="information__client">
              <div class="information__meta">Client: </div>
              <div class="information__data">The Washington Post</div>
            </div>
            <div class="information__year">
              <div class="information__meta">Year: </div>
              <div class="information__data">2024</div>
            </div>
            <div class="information__role">
              <div class="information__meta">Role: </div>
              <div class="information__data">Pitched idea, Built 3D, Development</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>

</html>
